# Entorno virtual
venv/

# Variables de entorno (claves secretas como la API de Gemini)
.env

# Archivos de Python compilados
__pycache__/
*.pyc

# Archivos de VS Code
.vscode/

# Base de datos local
*.db
*.sqlite3